{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <label>Bienvenido:{{ user.username|capfirst }}</label>
        <a href="/cerrar/">Salir</a>
    {% else %}
        <form method="POST" class="form-sigin">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>

            <label for="inputEmail">Usuario</label>
            <input class="form-control" name="username" type="text" id="inputEmail" placeholder="Usuario"/>

            <label for="inputPassword">Clave</label>
            <input class="form-control" name="password" id="inputPassword" type="password" placeholder="Clave"/>

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Ingresar"/>

            <a href="/registrarse">Registrarse</a>

        </form>
    {% endif %}
{% endblock %}